<html>
<head>
  <title>File Metadata Microservice</title>
</head>
<body>

  <h1>File Metadata Microservice</h1>
  <p>You can upload a file, using a FormData object</p>
  <p>When the file is submitted, you'll receive the file size in bytes within the JSON response </p>

  <h2>Upload your file</h2>
	<form method="post" action="/upload/" enctype="multipart/form-data" id="file-form">
		<input type="file" name="upfile" accept="application/x-zip-compressed,image/*">
		<input type="submit" value="Upload" >
	</form>
      
  <h2>Credits</h2>
  <p> Made by <a href="http://jcapona.github.io">jcapona</a></p>
  <p> Check the repo <a href="https://github.com/jcapona/file-metadata-ms">@Github</a></p>
		
</body>
</html>
